.d-video-box{
    width: 100%;
    position: relative;
    background: #000;
    .d-video-panel{
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        padding-bottom: 40px;
        background: #000;
        &.full-screen{
            position: fixed;
            top: 0;
            bottom: 40px;
            left: 0;
            right: 0;
            z-index: 998;
            padding-bottom: 0;
        };
        &.full-screen-noNav{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 998;
            padding-bottom: 0;
        };
    }
}

.big-play-logo{
    position: absolute;
    color: #fff;
    z-index: 999;
    box-sizing: border-box;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    i{
        color: orange;
        font-size: 50px;
        padding: 10px;
        transform: translateX(5px);
    }
}

.error-msg{
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.controlNav {
    width: 100%;
    height: 40px;
    background: #222;
    position: absolute;
    bottom: 0;
    div{
        height: 100%;
        display: flex;
        float: left;
        justify-content: center;
        align-items: center;
        color: #f8f8f8;
        text-align: center;
        i{
            font-size: 18px;
            cursor: pointer;
        }
    }
    &.full-screen{
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 998;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}