div{
    color: #f8f8f8;
    i{
        font-size: 18px;
        cursor: pointer;
    }
}
.full-screen{
    cursor: pointer;
    // margin-left: %;
    width: 5%;
    text-align: center;
    &.noRatePanel{
        margin-left: 3.2%
    }
}