.rate{
    cursor: pointer;
    position: relative;
    width: 10%;
    text-align: center;
    margin-left: 1%;
    .rate-select-panel{
        position: absolute;
        top: -7.5em;
        display: inline-block;
        .rate-select-item{
            width: 52px;
            height: 30px;
            line-height: 30px;
            background: #222;
            &:hover{
                color: orange;
            }
            .current{
                color: orange;
            }
        }
    }
}